{% extends 'base.html.twig' %}

{% block title %}Hello AdminEventController!{% endblock %}

{% block body %}

<div class="container">
    <h1>All events</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<div><a href="{{ path('admin_events_form') }}">Add new event</a> </div>

    <table class="table table-striped" id="events" style="width: 80%">
        <thead>
        <tr>
            <th scope="col">Event name</th>
            <th scope="col">Start date</th>
            <th scope="col">Amount tickets</th>
            <th scope="col">Ticket price</th>
            <th scope="col" style="width:8%"></th>
            <th scope="col" style="width:8%"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in events %}
        <tr>
            <td><a href="{{ path('admin_events_details', {'id': item.id } ) }}" >{{ item.name }}</a></td>
            <td>{{ item.startDate|date('d.m.Y') }}</td>
            <td>{{ item.ticketAmountOriginal }}</td>
            <td>{{ item.ticketPrice|number_format(2, ',', '.') }}</td>
            <td><a href="{{ path('admin_events_edit', {'id': item.id}) }}">edit</a></td>
            <td><a href="{{ path('admin_events_delete', {'id': item.id}) }}">delete</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
